*{
    margin: 0;
    box-sizing: border-box;
    font-family: "cairo", sans-serif;
    
}
.separar{
    display: flex;
    align-items: center;
    background-color: rgba(255, 102, 0, 0.911);
}
.reader{
    width: 15%;
    text-align: center;
    color: white;
    font-size: 25px;
}
#bnt1{
    border-radius: 50%;
    background-color: rgb(12, 236, 12);
    color: aliceblue;
    width: 250px;
    height: 90px;
}
#pizza{
    align-items: end;
    margin-left: 200px;
    margin-top: 100px;
}
#main{
    display: flex;
    background-color: rgb(206, 172, 62);
    height: 750px;
}
#alinhar{
margin-top: 80px;
margin-left: 20px;
}
.quadrados{
    background-color: #DD6060;
    width: 350px;
    color: white;
    font-size: 30px;
}
#alinhar2{
    margin-top: 60px;
    margin-left: 20px;
}
.descolar{
    padding-top: 80px;
    margin-left: 90px;
}
.descolar2{
    margin-top: 80px;
}
.ajuste{
    margin-top: 40px;
    margin-left: 600px;
    font-size: 40px;
}
